TWITTER_API_KEY=xxxxxxxxxxx
TWITTER_API_SECRET=xxxxxxxxxxx
TWITTER_ACCESS_TOKEN=xxxxxxxxxxx
TWITTER_ACCESS_TOKEN_SECRET=xxxxxxxxxxx
SPREADSHEET_KEY=xxxxxxxxxxx
SPREADSHEET_URL=https://docs.google.com/spreadsheets/xxxxxxxxxxx
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxxxxxxxxx
